[submodule "lib/gctoolsplusplus"]
	path = lib/gctoolsplusplus
	url = https://github.com/Astral-C/gctoolsplusplus.git
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/p-ranav/argparse.git
